@font-face {
    font-family: 'Passero One';
    src:url('../fonts/passeroone.otf') format('opentype');
}
@font-face {
    font-family: "Job Clarendon Regular";
    src:url('../fonts/job_claredon.otf') format('opentype');
}
body{
    background-color: #F84343;
    margin: 0;
    font-family: "Job Clarendon Regular", "Clarendon";
    padding:1%;
}


#home_link{
   color: #F3E9D6;
   margin:1%;
}
#info{
     font-family: 'Passero One';
     color: #F3E9D6;
     margin: 1%;
     font-size:50px;
}