<html>
<body style="font-family: Arial; background-color: #F84343; margin: 0;">

    <div id="title_container" style="background-color: #F883D7; color: white; padding: 10px; text-align: center; margin: 0;">
        <h1 id="title" style="font-size: 20px; font-family: Impact, serif; font-weight: 500; letter-spacing: 0.5px; margin: 0;">The Crush Dispatch</h1>
    </div>

    <div id="line_container" style="background-color: #F883D7; border: none; width: 100%; margin: 0; padding-bottom: 1px;">
        <hr class="line" style="height: 1px; background-color: #F3E9D6; border: none; margin-top: 0; margin-bottom: 5px;">
        <hr class="line" style="height: 1px; background-color: #F3E9D6; border: none; margin-top: 0; margin-bottom: 5px;">
    </div>

    <div id="subject_container" style="color: white; text-align: center; margin: 0 auto; margin-top: 30px; width: 80%">
        <p id="subject" style="font-size: 30px; font-family: 'Trebuchet MS'; margin: 0;">{{subject}}</p>
    </div>


    <div id="mail-container" style="background-color: #F3E9D6; max-width: 800px; margin: 0 auto; margin-top: 50px; padding: 25px; border-radius: 10px 10px  10px 10px; box-sizing: border-box; width: 90%; padding-bottom: 10%; ">
        <div id="mail-content" style="width: 100%; box-sizing: border-box; font-family: 'Courier New', Courier, monospace; text-align: left;">{{body}}</div>
    </div>


    <div id="end-container" style="margin-top: 50px; padding-top: 5px; padding-bottom: 5px; color: #F3E9D6; text-align: center; font-family: 'Courier New', monospace;">
        <hr class="line" style="height: 1px; background-color: #F3E9D6; border: none; margin-top: 0; margin-bottom: 5px;">
        <hr class="line" style="height: 1px; background-color: #F3E9D6; border: none; margin-top: 0; margin-bottom: 5px;">
        <p id="info_text">The Crush Dispatch <br><br>&copy; 2024 Crush Dispatch<br> This email was sent to you because <br> someone shot their shot.</p>
    </div>

</body>
</html>







