
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crush Dispatch</title>
    <link rel="stylesheet" href="../static/css/home.css"/>
    <link rel="icon" href="../static/images/bird.png" type="image/png">

</head>



<body>


    <div id="title_container">
        <div id="title_content">
            <img class="stars" id="star1" src="../static/images/title_star.png" alt="">
            <h1 id="title">The Crush Dispatch</h1>
            <img class="stars" id="star2" src="../static/images/title_star.png" alt="">
            <div>
                <img id="pink_heart" src="../static/images/pink_heart1.png" alt="Pink Heart">
            </div>
        </div>
        <div id="line_container">
            <hr class="line">
            <hr class="line">
        </div>
    </div>


    <div id="fullscreen-menu" class="hidden-menu">
        <a href="{{ url_for('home') }}" class="home_url"> home page </a>
        <a href="{{ url_for('send_letter') }}" id="send_url"> send letter</a>
        <a href="{{ url_for('love_poems') }}" class="poems_url"> poems </a>
        <button id="close-menu">close</button>
    </div>






    <div id="flying_lady_container">
        <img id="flying_lady" src="../static/images/flying_lady.png" alt="Flying Lady">

    </div>


    <div id="poem_container">
        <p class="dots">***</p>
        <p id = "poem"> Wandering far from you<br>
            Could love come between us two</p>
        <p class="dots">***</p>

    </div>




    <div id="hearts_line_container">
        <img  id="hearts_line" src="../static/images/hearts_line.png" alt="Heart line">
    </div>





    <div id = "bird_container">
        <img id="bird" src="../static/images/bird.png" >
        <p id="about_text">The crush dispatch is digital letter messenger allowing the “Crusher’’ to shoot their shot anonymously by our luv-mail. All you need is an email address and a pinch of courage.</p>

    </div>



    <div class="semi_colon_container">
        <img id="semi_colon" src="../static/images/semi-colon-line.png" >
    </div>




    <div id="contact_form">
        <div id="contact_title_container">
            <p id="contact_title">Contact us</p>
            <img id="moon" src="../static/images/moon.png">
        </div>

        <div id="cupidon_container">
            <img class="cupidons" id="cupidon_left" src="../static/images/cup_1.png" alt="">
            <img class="cupidons" id="cupidon_right"src="../static/images/cup_2.png" alt="">
        </div>


        <div id="cloud_container">
             <img id="cloud" src="../static/images/pink_cloud.png" alt="">
        </div>
    </div>






    <div id="inputs">
        <form  method="post" action="#">
            <input id="email_input" type="email" name="client_mail"  placeholder="Email address" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,}$"  >
            <br>
            <textarea id="letter_input" name="inquiry" placeholder="For any inquiries text us here..." required></textarea>
            <input id="letter_send" type="submit" value="Send">
        </form>

    </div>

    <div class="semi_colon_container">
        <img id="semi_colon_2" src="../static/images/semi-colon-line.png" >
    </div>




    <div class="link-container">
        <a class="custom-link" id="link1" > &copy; 2024  Crush Dispatch.  All rights reserved</a>
        <a class="custom-link" id="link2" >crushdispatch@gmail.com</a>
        <a href="#" class="custom-link" id="link3" >Instagram</a>
        <a href="#" class="custom-link" id="link4" >Tik-Tok</a>
        <a class="custom-link" id="link5" >to all the lovers</a>
    </div>


    <script src="../static/js/menu.js"></script>
</body>


</html>



